.homeContainer{

background-color: #afc74e;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
}

.homeTextContainer{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1.5em;
}

.homeTextContainer h1{
  font-family: sans-serif;
  text-align: end;
  font-weight: 800;

}

.homeTextContainer p{
  font-family: sans-serif;
}
.homeTextContainerSubtitle{

  display: flex;
  flex-direction: row;
text-align: center;
align-items: center;
justify-content: end;
gap: 15px;
}

.homeTextContainerSubtitle h4 {
  text-align: center;
  padding-top: 0.5em;
  font-size: 1em;
}

@media (max-width: 768px) {

.homeTextContainerSubtitle{
  flex-direction: column;
}

  .homeTextContainer{

align-items: center

}



  .homeTextContainer h1{
    font-size: 1.5em;
    text-align: center;
  }
  .homeTextContainer p{
    text-align: center;
    font-size: 1.2em;
    width: 80%
  }
  
}