.financiamento-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: fit-content;
}

.financiamento-container h2 {
  text-align: center;
  color: #333;
}

.financiamento-container label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.financiamento-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.financiamento-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.financiamento-container th, .financiamento-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.financiamento-container th {
  background-color: #007bff;
  color: white;
}

.financiamento-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.financiamento-container p {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0;
}

.toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.table-container {
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.table-container.hidden {
  max-height: 0;
  opacity: 0;
}

.table-container.visible {
  max-height: 1000px; /* valor grande para garantir que a tabela seja visível */
  opacity: 1;
}